/* @font-face {
  font-family: 'Englbesh', Courier, monospace;
  src: url('./fonts/englbesh.ttf') format("truetype");
}

@font-face {
  font-family: 'Teuton', Courier, monospace;
  src: url('./fonts/TeutonMager.otf') format("opentype");
}

@font-face {
  font-family: 'Symbol', Courier, monospace;
  src: url('./fonts/itc-symbol-lt-bold.ttf') format("truetype");
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.green {
  /* font-family: 'Engli-Besh'; */
  color: green;  
}

