@import './panels.css';

/* @font-face {
  font-family: 'Englbesh', Courier, monospace;
  src: url('./fonts/englbesh.ttf') format("truetype");
}

@font-face {
  font-family: 'Teuton', Courier, monospace;
  src: url('./fonts/TeutonMager.otf') format("opentype");
}

@font-face {
  font-family: 'Symbol', Courier, monospace;
  src: url('./fonts/itc-symbol-lt-bold.ttf') format("truetype");
} */

@font-face {
    font-family: Engli-Besh;
    src: url('./fonts/englbesh.ttf');
    font-weight: 400;
    font-weight: normal;
}

@font-face {
    font-family: SymbolBold;
    src: url('./fonts/itc-symbol-lt-bold.ttf');
    font-weight: 400;
    font-weight: normal;
}

@font-face {
    font-family: EoteSymbol;
    src: url('./fonts/EotE_Symbol-Regular_v1.otf');
    font-weight: 400;
    font-weight: normal;
}

@font-face {
    font-family: Teuton;
    src: url('./fonts/TeutonMager.otf');
    font-weight: 400;
    font-weight: normal;
}

b {
    color: gold;
}

h4 {
    font-size: 2.4vmin;
    margin: 2vmin 0;
    font-family: Engli-Besh;
    font-weight: normal;
}

.smbl {
    font-family: EoteSymbol;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background-color: #0a0a12;
    color: #ebe6de;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.green {
    /* font-family: 'Engli-Besh'; */
    color: green;
}

.glass {
    width: 350px;
    height: 500px;
    background: inherit;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -250px;
    border-radius: 8px;
}

.glass:before {
    width: 400px;
    height: 550px;
    content: "";
    position: absolute;
    top: -25px;
    left: -25px;
    bottom: 0;
    right: 0;
    background: inherit;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.2);
    filter: blur(2px);
}

.glow {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
}

/* .red-glow {
    animation: glow1 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
} */

.center {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-left {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.flex-right {
    display: flex;
    justify-content: start;
    align-items: center;
}

.flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.full-screen {
    width: 100%;
    height: 100%;
}

@keyframes glow1 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #9e0003, 0 0 70px #9e0003, 0 0 80px #9e0003, 0 0 100px #9e0003, 0 0 150px #9e0003;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #9e0003, 0 0 35px #9e0003, 0 0 40px #9e0003, 0 0 50px #9e0003, 0 0 75px #9e0003;
    }
}


/* .scanlines::before {
    background: rgba(0, 0, 0, 0.3);
    opacity: 0.75;
    width: 100%;
    height: 2px;
    animation: scanline 6s linear infinite;
    content: "";
    position: absolute;
    pointer-events: none;
    display: block;
    overflow: hidden;
} */

.scanlines::after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.3) 51%);
    background-size: 100% 3px;
    content: "";
    position: absolute;
}

.scanlines {
    /* flex-direction: row; */
    /* border-radius: 10; */
    margin: 0;
    /* width: calc(100vw - 20px);
    height: calc(100vh - 20px); */
    /* width: 100vw; */
    /* height: 100vh; */
    /* overflow: hidden; */
    position: relative;
}

.scanlines-back {
    background-image: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.3) 51%);
    background-repeat: repeat;
    background-size: 100% 3px;
}

@keyframes scanline {
    0% {
        transform: translate3d(0, 200000%, 0);
        bottom: 0%;
    }
}

.data-container {
    /* background:  */
    /* background-size: 100% 3px;     */

    display: grid;
    grid-template-columns: repeat(20, calc(100% / 20));
    grid-template-rows: repeat(40, calc(100% / 40));

    /* grid-template-columns: repeat(9, calc(100vmin * 0.5625 / 9)); */
    /* grid-template-rows: repeat(16, calc(100vmin / 16)); */

    /* background: #19223a; */
    /* background-image: url(./BGBorder.svg), linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.3) 51%); */
    /* background-repeat: no-repeat, repeat; */
    /* background-size: contain, 100% 3px; */

    /* background-image: url(./BGBorderFull.svg); */
    background-repeat: no-repeat;
    background-size: contain;
    /* 19223a */
    /* mask-image: url(./BGBorderMask.svg); */
    /* mask-size: contain; */
    /* mask-repeat: no-repeat;     */
    box-sizing: border-box;
    top: 0;
    height: 100%;
    /* width: calc(100vh * 0.5625); */
    width: calc(var(--vh, 1vh) * 100 * 0.5625);
    /* height: calc(var(--vh, 1vh) * 100); */

    /* padding: 5vh; */
    /* padding: 3.5vh calc(7vh * 0.5625); */
    position: fixed;
    padding: 0.5vh calc(1vh * 0.5625);
    max-height: calc(100vw * 1.78);
    overflow: hidden;
}




/* input:-webkit-autofill, */
/* input:-webkit-autofill:hover, */
/* input:-webkit-autofill:focus { */
  /* border: 0.2vmin solid #cc33338f !important; */
  /* -webkit-text-fill-color: #cc3333 !important; */
  /* -webkit-box-shadow: 0 0 0px 1000px #000 inset;   */
  /* transition: background-color 5000s ease-in-out 0s; */
  /* background: #671818 !important; */
/* } */



@keyframes flickerAnimation {
    0%   { opacity:0; }
    100% { opacity:1; }
  }


.animate-fade-in {
    animation-name: flickerAnimation;
    animation-duration: 0.4s;
    opacity: 0;
    animation-fill-mode: forwards;
    /* animation-iteration-count: 1; */
    /* animation-fill-mode: both; */
    /* animation: flickerAnimation 1.5s 1; */
 }


 /* #f2aa2a */


 .z-panel, .z-5 {
    z-index: 5;
 }

 .z-button, .z-10 {
    z-index: 10;
 }

 .z-overlay, .z-15 {
    z-index: 15;
 }
 
 .z-overlay-child, .z-20 {
    z-index: 20;
 }

 .m1 {
    margin: 0.2vmin;
 }

 .m2 {
    margin: 0.5vmin;
 }

 .m3 {
    margin: 1vmin;
 }

 .m4 {
    margin: 1.5vmin;
 }

 .m5 {
    margin: 2.5vmin;
 }

 .p1 {
    padding: 0.2vmin;
 }

 .p2 {
    padding: 0.5vmin;
 }

 .p3 {
    padding: 1vmin;
 }

 .p4 {
    padding: 1.5vmin;
 }

 .p5 {
    padding: 2.5vmin;
 }

 ::-webkit-scrollbar {
    width: 1vmin;
 }

 ::-webkit-scrollbar-track {
     /* background: #671818; */
     /* background: #671818; */
     /* border: 0.1vmin solid #f2aa2a; */
     /* #f2aa2a */
     /* #f4bc5c */
 }

 ::-webkit-scrollbar-thumb {
     background: #9e0003;
     border-radius: 1vmin;

     /* background: #f2aa2a; */
 }

 ::-webkit-scrollbar-thumb:hover {     
     background: #cc3333;
     /* background: #f4bc5c; */
 }