 .main-menu-root {
 	display: grid;
 	width: 100%;
 	max-width: 400px;
 }

 .main-menu-root>* {
 	grid-area: 1 / 1 / 2 / 2;
 }

 /* h1 {
    fontFamily: Engli-Besh, Times, serif, // fontFamily: Teuton,
    //fontFamily: Symbol, Times, serif,      
} */

 /* one percentage that is the low amount of the screen */