.login-root {
    height: 100vh;
    flex-direction: column;
}

.login-container {
    display: grid;
    grid-template-columns: repeat(36, calc(100% / 36));
    grid-template-rows: repeat(64, calc(100% / 64));
    flex-direction: column;    
    width: calc(1vh * 100 * 0.5625);        
    height: 100%;
    box-sizing: border-box;    
    padding: 3.5vh calc(3.5vh * 0.5625);
    top: 0;
    height: 100%;
    position: fixed;
    overflow: hidden;
}

.login-background {
    background: url('./../../background.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
}

.login-heading {    
    text-align: center;
    font-family: Engli-Besh, Times, serif;
    user-select: none;
    font-size: 6vh;
}

.login-input {
    font-family: SymbolBold;
    cursor: pointer;    
    background: none;
    box-shadow: 0px 0px 0.5vmin #c72f2f;
    border: .5vmin solid #c72f2f;
    border-radius: .5vh;
    font-size: 4vh;
    text-align: center;
    color: #37a2cc;
    box-sizing: border-box;    
}

.login-input:focus {    
    border: .5vmin solid #e07b7b;
    box-shadow: 0px 0px 0.5vmin #e07b7b;
    outline: none
}

.login-input::placeholder {
    color: #26434e
}

.login-input:selec {
    color: #26434e
}



/* @media (min-width:750px) {
    .login-container {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (min-height:750px) {
    .login-container {
        padding-top: 37.5px;
        padding-bottom: 15px;
    }
}

@media (min-width:750px) and (min-height:750px) {
    .login-container {
        padding: 37.5px 60px 15px;
    }
    .login-heading {
        font-size: 60px;
    }
    .login-input {
        font-size: 30px
    }
    .flat-button {
        font-size: 30px
    }
} */