 .main-menu-container {
     display: grid;
     grid-template-columns: repeat(9, calc(100% / 9));
     grid-template-rows: repeat(16, 1fr);
     /* flex-direction: column; */
     background: url(./../../BGBorder.svg);
     background-repeat: no-repeat;
     background-size: contain;
     /* max-width: 720px; */
     /* max-height: 1280px; */
     /* width: 56.25vmin; */
     /* height: calc(100vh); */
     /* width: calc(56.25vh); */
     /* height: 100vmin; */
     /* box-sizing: border-box; */
     padding: 8.5%;
     /* display: flex; */
     /* align-items: center; */
     /* justify-content: center; */
     clip-path: url(#myClip);
     overflow: hidden;
 }
 
 .main-menu-root {
     display: grid;
     width: 100%;
     max-width: 432px;
 }
 
 .main-menu-root>* {
     grid-area: 1 / 1 / 2 / 2;
 }
 
 .roster-character-list {
     grid-area: 2 / 1 / span 15 / span 9;
     display: flex;
     flex-direction: column;
     padding: 10px;
     overflow-x: hidden;
 }
 
 .roster-detail-box {
     height: 56px;
     /* grid-column: span 1; */
     /* grid-row: span 1; */
     box-sizing: border-box;
     margin: 2px;
 }