.roster-root {
     display: grid;
     /* width: 20rem; */
     width: 100vmin;
     /* max-width: 432px; */
 }
 
 .roster-root>* {
     grid-area: 1 / 1 / 2 / 2;
 }
 
 .roster-character-list {
     grid-area: 4 / 3 / span 20 / span 16;
     grid-template-columns: 1fr;
     grid-auto-rows: 11vh;
     display: grid;
     padding: 0.5vh;
     overflow-x: hidden;          
}

.roster-character-box {
     display: grid;
     grid-column: span 1;
     grid-row: span 1;
     grid-template-columns: 1fr 3fr;
     grid-template-rows: 11vh;
     box-sizing: border-box;     
 }
 
 .roster-detail-box {
     height: 10vh;
     grid-column: span 1;
     grid-row: span 1;
     box-sizing: border-box;
     margin: 0.5vh;
 }